.repositories-list {
    color: #000;
}

.row.repositories-list-title > div {
    font-weight: 700;
    text-align: center;
}

.container-fluid {
    margin-top: 30px;
}

.row > div {
    border: 1px solid #000;
    overflow: hidden;
    text-align: left;
}